Builds/VisualStudio2015/Debug/
Builds/VisualStudio2015/Release/
Builds/VisualStudio2015/.vs
*.sdf
*.opendb
JuceLibraryCode/
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/CL.command.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/CL.read.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/CL.write.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/Test-OSC.lastbuildstate
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/link.command.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/link.read.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/link.write.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/rc.command.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/rc.read.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/Test-OSC.tlog/rc.write.1.tlog
Test-OSC/Builds/VisualStudio2015/Debug/resources.res
Test-OSC/Builds/VisualStudio2015/Debug/vc140.idb
